/.gradle/
/.idea/
/build/
/out/
/logs/
**/.classpath
**/.metadata
**/.project
**/.settings
**/bin/
/screenshot.png
/screenshotLeft.png
/screenshotRight.png
/performance.log
/performance-gruviks.log
/terrain-playground-profiling.log
